# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Environment variables
.env
.env.*
!.env.example

# IDE settings
.vscode/
.idea/

# Project-specific
output/
*.mid
*.pdf

# Aider-specific
.aider*
aider*
.aider.tags.cache.v3*

# Git-specific
.git*

dist/
cache/